<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robot_base_ros2_control" params="name">
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>diffdrive_arduino/DiffDriveArduinoHardware</plugin>
                <param name="left_wheel_name">left_wheel_joint</param>
                <param name="right_wheel_name">right_wheel_joint</param>
                <param name="loop_rate">30</param>
                <param name="enc_counts_per_rev">2626</param>
                <param name="ip_addr">192.168.1.245</param>
                <param name="network_port_number">7777</param>
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <param name="calculate_dynamics">true</param>
            </hardware>
            <joint name="left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-2.4</param>
                    <param name="max">2.4</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-2.4</param>
                    <param name="max">2.4</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

    </xacro:macro>

</robot>
